@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}


.mainButton {
  background-color: red;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.mainButton:hover {
  color: black;
}
